{% extends "base.html" %} 
{% load static %} 
{% block title %} Tips - Glamify 365 {% endblock %} 
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-headd mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Female Fashion Tips</h1>

        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Female Fashion Tips
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Fashion Tips Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4 align-items-start mb-4">
            <!-- Tip 1: Statement Accessories -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">1. Statement Accessories</h1>
                <div class="border rounded p-4">
                    <p>
                        Elevate your outfit with statement accessories like bold necklaces, oversized earrings, and unique handbags.
                    </p>
                    <p>
                        Make a fashion statement by incorporating eye-catching accessories into your look. Choose pieces that reflect your personal style and add a touch of glamour to any ensemble.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/acc.jpg' %}"
                    alt="Statement Accessories"
                />
            </div>

            <!-- Tip 2: Floral Patterns -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">2. Floral Patterns</h1>
                <div class="border rounded p-4">
                    <p>
                        Embrace the beauty of floral patterns in dresses, skirts, and tops for a feminine and trendy look.
                    </p>
                    <p>
                        Floral prints are timeless and can be worn in various styles. Experiment with different floral patterns to add a touch of romance and freshness to your wardrobe.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/floral1.jpg' %}"
                    alt="Floral Patterns"
                />
            </div>

            <!-- Tip 3: Monochrome Elegance -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">3. Monochrome Elegance</h1>
                <div class="border rounded p-4">
                    <p>
                        Achieve a sophisticated and timeless look by embracing monochrome outfits in neutral tones.
                    </p>
                    <p>
                        Monochrome dressing creates a streamlined and elegant silhouette. Choose outfits in shades of white, black, or beige for a chic and polished appearance.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/mono.AVIF' %}"
                    alt="Monochrome Elegance"
                />
            </div>

            <!-- Tip 4: Mix and Match Textures -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">4. Mix and Match Textures</h1>
                <div class="border rounded p-4">
                    <p>
                        Create visual interest by combining different textures in your outfit, such as lace, velvet, and leather.
                    </p>
                    <p>
                        Experiment with texture mixing to add depth and dimension to your look. Play with contrasting fabrics to create a stylish and fashion-forward ensemble.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/mix1.jpg' %}"
                    alt="Mix and Match Textures"
                />
            </div>

            <!-- Tip 5: Play with Prints and Patterns -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">5. Play with Prints and Patterns</h1>
                <div class="border rounded p-4">
                    <p>
                        Have fun with your wardrobe by experimenting with various prints and patterns, from stripes to polka dots.
                    </p>
                    <p>
                        Mixing prints and patterns adds a playful and dynamic element to your outfits. Don't be afraid to combine different designs for a bold and expressive look.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/print.jpg' %}"
                    alt="Play with Prints and Patterns"
                />
            </div>

            <!-- Tip 6: Belt It Up -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">6. Belt It Up</h1>
                <div class="border rounded p-4">
                    <p>
                        Define your waist and add a stylish touch to your outfits by incorporating belts in various widths and designs.
                    </p>
                    <p>
                        Belts are versatile accessories that can transform the silhouette of your dresses, tops, and outerwear. Experiment with different belt styles to enhance your overall look.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/belt.jpg' %}"
                    alt="Belt It Up"
                />
            </div>

            <!-- Tip 7: Classic Denim Always Works -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">7. Classic Denim Always Works</h1>
                <div class="border rounded p-4">
                    <p>
                        Invest in quality denim pieces, such as jeans, jackets, and skirts, for a timeless and versatile wardrobe.
                    </p>
                    <p>
                        Denim is a fashion staple that can be dressed up or down for various occasions. Opt for classic cuts and washes that complement your style.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/denim.avif' %}"
                    alt="Classic Denim Always Works"
                />
            </div>

            <!-- Tip 8: Experiment with Layering -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">8. Experiment with Layering</h1>
                <div class="border rounded p-4">
                    <p>
                        Stay warm in style by mastering the art of layering. Combine different pieces to create chic and textured looks.
                    </p>
                    <p>
                        Layering allows you to showcase your creativity and adapt your outfits to changing temperatures. Mix sweaters, blouses, vests, and jackets for a fashion-forward appearance.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/layer.jpg' %}"
                    alt="Experiment with Layering"
                />
            </div>

            <!-- Tip 9: Tailored Pieces for a Polished Look -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">9. Tailored Pieces for a Polished Look</h1>
                <div class="border rounded p-4">
                    <p>
                        Invest in well-fitted and tailored pieces for a sophisticated and polished appearance.
                    </p>
                    <p>
                        Tailored clothing enhances your silhouette and exudes professionalism. Whether it's a blazer, trousers, or a tailored dress, these pieces contribute to a refined and timeless wardrobe.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/tailor.jpg' %}"
                    alt="Tailored Pieces for a Polished Look"
                />
            </div>

            <!-- Tip 10: Comfort is Key -->
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">10. Comfort is Key</h1>
                <div class="border rounded p-4">
                    <p>
                        Prioritize comfort in your fashion choices. Select fabrics and styles that allow you to feel confident and at ease throughout the day.
                    </p>
                    <p>
                        Fashion should enhance your comfort and confidence. Choose breathable fabrics and styles that align with your personal preferences and make you feel your best.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <img
                    class="img-fluid rounded"
                    src="{% static 'img/comfort.png' %}"
                    alt="Tailored Pieces for a Polished Look"
                />
            </div>
            
        </div>
    </div>
</div>
<!-- Fashion Tips End -->

{% endblock %}
